USE [master]
GO
/****** Object:  Database [MedLab]    Script Date: 09.09.2025 23:21:08 ******/
CREATE DATABASE [MedLab]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedLab', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MedLab.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MedLab_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MedLab_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedLab].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedLab]
GO
/****** Object:  Table [dbo].[AccountForInsuranceCompanies]    Script Date: 09.09.2025 23:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountForInsuranceCompanies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NULL,
	[InvoiceNumber] [nvarchar](25) NULL,
	[InvoiceDate] [date] NULL,
	[Amount] [money] NULL,
	[IdInsuranceCompany] [int] NULL,
	[IdStatusAccount] [int] NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_AccountForInsuranceCompanies$] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Analyzer]    Script Date: 09.09.2025 23:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Analyzer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnalyzerName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Analyzer$] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnalyzerData]    Script Date: 09.09.2025 23:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalyzerData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAnalyzer] [int] NULL,
	[IdLaboratoryAssistant] [int] NULL,
	[DateTimeOfOrderReceipt] [datetime] NULL,
	[IdOrderAndServices] [int] NULL,
	[LeadTime] [time](7) NULL,
 CONSTRAINT [PK_AnalyzerData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 09.09.2025 23:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NULL,
	[Ip] [nvarchar](50) NULL,
	[DateStart] [datetime] NULL,
	[DateEnd] [datetime] NULL,
	[IdReason] [int] NULL,
 CONSTRAINT [PK_History$] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceCompany]    Script Date: 09.09.2025 23:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceCompany](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[INN] [nvarchar](12) NULL,
	[PaymentAccount] [nvarchar](20) NULL,
	[BankIdentificationCode] [nvarchar](8) NULL,
 CONSTRAINT [PK_InsuranceCompany$] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 09.09.2025 23:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[DateOfCreation] [datetime] NULL,
	[IdStatusOrder] [int] NULL,
	[OrderCompletionTime] [time](7) NULL,
	[FullPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Order$_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderAndService]    Script Date: 09.09.2025 23:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderAndService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdOrder] [int] NOT NULL,
	[ServiceCode] [int] NULL,
	[BarcodeCode] [nvarchar](100) NULL,
	[IdStatus] [int] NULL,
	[Result] [nvarchar](50) NULL,
 CONSTRAINT [PK_OrderAndServices$] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyType]    Script Date: 09.09.2025 23:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](255) NULL,
 CONSTRAINT [PK_PolicyTypes$] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReasonsForExit]    Script Date: 09.09.2025 23:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReasonsForExit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Reason] [nvarchar](50) NULL,
 CONSTRAINT [PK_ReasonsForExit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 09.09.2025 23:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Code] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](255) NOT NULL,
	[Price] [money] NOT NULL,
	[PeriodOfExecution] [int] NOT NULL,
	[InitialAVGDeviation] [nvarchar](50) NOT NULL,
	[AnalyzerType] [int] NOT NULL,
	[FinalAVGDeviation] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Services$] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusAccount]    Script Date: 09.09.2025 23:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StatusAccount$] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusOrder]    Script Date: 09.09.2025 23:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_StatusOrder$] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusServicesInOrder]    Script Date: 09.09.2025 23:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusServicesInOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StatusServicesInOrder$] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09.09.2025 23:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[PassportSeries] [nvarchar](4) NULL,
	[PassportNumber] [nvarchar](6) NULL,
	[PhoneNumber] [nvarchar](25) NULL,
	[Email] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[InsurancePolicyNumber] [nvarchar](16) NULL,
	[IdPolicyType] [int] NULL,
	[IdUserType] [int] NULL,
	[IdInsuranceCompany] [int] NULL,
	[NameImage] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users$] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 09.09.2025 23:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserType$] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccountForInsuranceCompanies] ON 

INSERT [dbo].[AccountForInsuranceCompanies] ([Id], [IdUser], [InvoiceNumber], [InvoiceDate], [Amount], [IdInsuranceCompany], [IdStatusAccount], [EndDate]) VALUES (1, 104, N'SC-000123 ', CAST(N'2024-10-10' AS Date), 135684.0000, 1, 1, NULL)
INSERT [dbo].[AccountForInsuranceCompanies] ([Id], [IdUser], [InvoiceNumber], [InvoiceDate], [Amount], [IdInsuranceCompany], [IdStatusAccount], [EndDate]) VALUES (2, 104, N'INV-45678 ', CAST(N'2024-10-11' AS Date), 135685.0000, 4, 2, NULL)
INSERT [dbo].[AccountForInsuranceCompanies] ([Id], [IdUser], [InvoiceNumber], [InvoiceDate], [Amount], [IdInsuranceCompany], [IdStatusAccount], [EndDate]) VALUES (3, 104, N'BILL-98765 ', CAST(N'2024-10-12' AS Date), 135686.0000, 5, 2, NULL)
SET IDENTITY_INSERT [dbo].[AccountForInsuranceCompanies] OFF
GO
SET IDENTITY_INSERT [dbo].[Analyzer] ON 

INSERT [dbo].[Analyzer] ([Id], [AnalyzerName]) VALUES (1, N'Biorad')
INSERT [dbo].[Analyzer] ([Id], [AnalyzerName]) VALUES (2, N'Ledetect')
SET IDENTITY_INSERT [dbo].[Analyzer] OFF
GO
SET IDENTITY_INSERT [dbo].[AnalyzerData] ON 

INSERT [dbo].[AnalyzerData] ([Id], [IdAnalyzer], [IdLaboratoryAssistant], [DateTimeOfOrderReceipt], [IdOrderAndServices], [LeadTime]) VALUES (1, 1, 5, CAST(N'2023-03-03T00:08:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[AnalyzerData] ([Id], [IdAnalyzer], [IdLaboratoryAssistant], [DateTimeOfOrderReceipt], [IdOrderAndServices], [LeadTime]) VALUES (2, 1, 5, CAST(N'2023-03-03T00:08:15.000' AS DateTime), 2, NULL)
INSERT [dbo].[AnalyzerData] ([Id], [IdAnalyzer], [IdLaboratoryAssistant], [DateTimeOfOrderReceipt], [IdOrderAndServices], [LeadTime]) VALUES (3, 1, 5, CAST(N'2023-03-03T00:08:30.000' AS DateTime), 3, NULL)
SET IDENTITY_INSERT [dbo].[AnalyzerData] OFF
GO
SET IDENTITY_INSERT [dbo].[History] ON 

INSERT [dbo].[History] ([Id], [IdUser], [Ip], [DateStart], [DateEnd], [IdReason]) VALUES (1, 1, N'147.231.50.234', CAST(N'2020-03-18T00:00:00.000' AS DateTime), CAST(N'2020-03-18T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[History] ([Id], [IdUser], [Ip], [DateStart], [DateEnd], [IdReason]) VALUES (2, 2, N'22.32.15.211', CAST(N'2020-03-18T00:00:00.000' AS DateTime), CAST(N'2020-03-18T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[History] ([Id], [IdUser], [Ip], [DateStart], [DateEnd], [IdReason]) VALUES (3, 3, N'113.92.142.29', CAST(N'2020-03-18T00:00:00.000' AS DateTime), CAST(N'2020-03-18T00:00:00.000' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[History] OFF
GO
SET IDENTITY_INSERT [dbo].[InsuranceCompany] ON 

INSERT [dbo].[InsuranceCompany] ([Id], [Name], [Address], [INN], [PaymentAccount], [BankIdentificationCode]) VALUES (1, N'ООО "ТехноПром"', N'г. Москва, ул. Ленина, д. 10', N'771234567800', N'40702810500000000001', N'4.45251e')
INSERT [dbo].[InsuranceCompany] ([Id], [Name], [Address], [INN], [PaymentAccount], [BankIdentificationCode]) VALUES (2, N'ИП Смирнов А.В.', N'г. Санкт-Петербург, Невский пр., д. 25', N'781234567890', N'40702810500000000002', N'4.45252e')
INSERT [dbo].[InsuranceCompany] ([Id], [Name], [Address], [INN], [PaymentAccount], [BankIdentificationCode]) VALUES (3, N'ЗАО "СтройГарант"', N'г. Екатеринбург, ул. Малышева, д. 42', N'661234567800', N'40702810500000000003', N'4.57735e')
SET IDENTITY_INSERT [dbo].[InsuranceCompany] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [IdUser], [DateOfCreation], [IdStatusOrder], [OrderCompletionTime], [FullPrice]) VALUES (1, 1, CAST(N'2020-02-10T00:00:00.000' AS DateTime), 1, CAST(N'00:00:00' AS Time), NULL)
INSERT [dbo].[Order] ([Id], [IdUser], [DateOfCreation], [IdStatusOrder], [OrderCompletionTime], [FullPrice]) VALUES (2, 2, CAST(N'2020-06-20T00:00:00.000' AS DateTime), 1, CAST(N'00:00:00' AS Time), NULL)
INSERT [dbo].[Order] ([Id], [IdUser], [DateOfCreation], [IdStatusOrder], [OrderCompletionTime], [FullPrice]) VALUES (3, 3, CAST(N'2020-05-19T00:00:00.000' AS DateTime), 1, CAST(N'00:00:00' AS Time), NULL)
GO
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderAndService] ON 

INSERT [dbo].[OrderAndService] ([Id], [IdOrder], [ServiceCode], [BarcodeCode], [IdStatus], [Result]) VALUES (1, 1, 557, NULL, 3, N'1')
INSERT [dbo].[OrderAndService] ([Id], [IdOrder], [ServiceCode], [BarcodeCode], [IdStatus], [Result]) VALUES (2, 1, 836, NULL, 3, N'1')
INSERT [dbo].[OrderAndService] ([Id], [IdOrder], [ServiceCode], [BarcodeCode], [IdStatus], [Result]) VALUES (3, 1, 287, NULL, 3, N'1')
GO
SET IDENTITY_INSERT [dbo].[OrderAndService] OFF
GO
SET IDENTITY_INSERT [dbo].[PolicyType] ON 

INSERT [dbo].[PolicyType] ([Id], [Type]) VALUES (1, N'Бумажный документ с уникальным штрихкодом ')
INSERT [dbo].[PolicyType] ([Id], [Type]) VALUES (2, N'Электронный носитель информации с чипом в виде пластиковой карты')
INSERT [dbo].[PolicyType] ([Id], [Type]) VALUES (3, N'Универсальная электронная карта')
SET IDENTITY_INSERT [dbo].[PolicyType] OFF
GO
SET IDENTITY_INSERT [dbo].[ReasonsForExit] ON 

INSERT [dbo].[ReasonsForExit] ([Id], [Reason]) VALUES (1, N'Вышел')
INSERT [dbo].[ReasonsForExit] ([Id], [Reason]) VALUES (2, N'Время вышло')
INSERT [dbo].[ReasonsForExit] ([Id], [Reason]) VALUES (3, N'Ошибки ввода данных')
SET IDENTITY_INSERT [dbo].[ReasonsForExit] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([Code], [ServiceName], [Price], [PeriodOfExecution], [InitialAVGDeviation], [AnalyzerType], [FinalAVGDeviation]) VALUES (176, N'Билирубин общий', 102.8500, 4, N'3.4', 1, N'20.5')
INSERT [dbo].[Service] ([Code], [ServiceName], [Price], [PeriodOfExecution], [InitialAVGDeviation], [AnalyzerType], [FinalAVGDeviation]) VALUES (229, N'СПИД', 341.7800, 2, N'не обнаружено', 2, N'обнаружено')
INSERT [dbo].[Service] ([Code], [ServiceName], [Price], [PeriodOfExecution], [InitialAVGDeviation], [AnalyzerType], [FinalAVGDeviation]) VALUES (258, N'Креатинин', 143.2200, 2, N'62', 3, N'106')
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusAccount] ON 

INSERT [dbo].[StatusAccount] ([Id], [Status]) VALUES (1, N'Оплачен')
INSERT [dbo].[StatusAccount] ([Id], [Status]) VALUES (2, N'Ожидает оплаты')
SET IDENTITY_INSERT [dbo].[StatusAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusOrder] ON 

INSERT [dbo].[StatusOrder] ([Id], [Status]) VALUES (1, N'Выполненный')
INSERT [dbo].[StatusOrder] ([Id], [Status]) VALUES (2, N'Не выполненный')
SET IDENTITY_INSERT [dbo].[StatusOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusServicesInOrder] ON 

INSERT [dbo].[StatusServicesInOrder] ([Id], [Status]) VALUES (1, N'Ожидает')
INSERT [dbo].[StatusServicesInOrder] ([Id], [Status]) VALUES (2, N'Отправлена на исследование')
INSERT [dbo].[StatusServicesInOrder] ([Id], [Status]) VALUES (3, N'Выполненна')
SET IDENTITY_INSERT [dbo].[StatusServicesInOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [DateOfBirth], [PassportSeries], [PassportNumber], [PhoneNumber], [Email], [Login], [Password], [InsurancePolicyNumber], [IdPolicyType], [IdUserType], [IdInsuranceCompany], [NameImage]) VALUES (1, N'Hacking', N'Clareta', NULL, CAST(N'1955-11-13' AS Date), N'1000', N'125000', N'7.90025e+010', N'ivanov@example.com', N'chacking0', N'4tzqHdkqzo4', N'608502000000099', 1, 1, 1, NULL)
INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [DateOfBirth], [PassportSeries], [PassportNumber], [PhoneNumber], [Email], [Login], [Password], [InsurancePolicyNumber], [IdPolicyType], [IdUserType], [IdInsuranceCompany], [NameImage]) VALUES (2, N'Mably', N'Northrop', NULL, CAST(N'1956-11-13' AS Date), N'1001', N'125001', N'7.90025e+010', N'petrov@mail.ru', N'nmably1', N'ukM0e6', N'608502000000098', 2, 1, 3, NULL)
INSERT [dbo].[User] ([Id], [Surname], [Name], [Patronymic], [DateOfBirth], [PassportSeries], [PassportNumber], [PhoneNumber], [Email], [Login], [Password], [InsurancePolicyNumber], [IdPolicyType], [IdUserType], [IdInsuranceCompany], [NameImage]) VALUES (3, N'Rolf', N'Fabian', NULL, CAST(N'1957-11-13' AS Date), N'1002', N'125002', N'7.90025e+010', N'sidorova@yandex.ru', N'frolf2', N'7QpCwac0yi', N'608502000000097', 1, 1, 4, NULL)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserType] ON 

INSERT [dbo].[UserType] ([Id], [Type]) VALUES (1, N'Клиент')
INSERT [dbo].[UserType] ([Id], [Type]) VALUES (2, N'Лаборант')
INSERT [dbo].[UserType] ([Id], [Type]) VALUES (3, N'Бухгалтер')
SET IDENTITY_INSERT [dbo].[UserType] OFF
GO
ALTER TABLE [dbo].[AccountForInsuranceCompanies]  WITH CHECK ADD  CONSTRAINT [FK_AccountForInsuranceCompanies$_InsuranceCompany$] FOREIGN KEY([IdInsuranceCompany])
REFERENCES [dbo].[InsuranceCompany] ([Id])
GO
ALTER TABLE [dbo].[AccountForInsuranceCompanies] CHECK CONSTRAINT [FK_AccountForInsuranceCompanies$_InsuranceCompany$]
GO
ALTER TABLE [dbo].[AccountForInsuranceCompanies]  WITH CHECK ADD  CONSTRAINT [FK_AccountForInsuranceCompanies$_StatusAccount$] FOREIGN KEY([IdStatusAccount])
REFERENCES [dbo].[StatusAccount] ([Id])
GO
ALTER TABLE [dbo].[AccountForInsuranceCompanies] CHECK CONSTRAINT [FK_AccountForInsuranceCompanies$_StatusAccount$]
GO
ALTER TABLE [dbo].[AccountForInsuranceCompanies]  WITH CHECK ADD  CONSTRAINT [FK_AccountForInsuranceCompanies$_Users$] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[AccountForInsuranceCompanies] CHECK CONSTRAINT [FK_AccountForInsuranceCompanies$_Users$]
GO
ALTER TABLE [dbo].[AnalyzerData]  WITH CHECK ADD  CONSTRAINT [FK_AnalyzerData_Analyzer$] FOREIGN KEY([IdAnalyzer])
REFERENCES [dbo].[Analyzer] ([Id])
GO
ALTER TABLE [dbo].[AnalyzerData] CHECK CONSTRAINT [FK_AnalyzerData_Analyzer$]
GO
ALTER TABLE [dbo].[AnalyzerData]  WITH CHECK ADD  CONSTRAINT [FK_AnalyzerData_OrderAndServices$] FOREIGN KEY([IdOrderAndServices])
REFERENCES [dbo].[OrderAndService] ([Id])
GO
ALTER TABLE [dbo].[AnalyzerData] CHECK CONSTRAINT [FK_AnalyzerData_OrderAndServices$]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History$_ReasonsForExit] FOREIGN KEY([IdReason])
REFERENCES [dbo].[ReasonsForExit] ([Id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History$_ReasonsForExit]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History$_Users$] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History$_Users$]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_StatusOrder] FOREIGN KEY([IdStatusOrder])
REFERENCES [dbo].[StatusOrder] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_StatusOrder]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderAndService]  WITH CHECK ADD  CONSTRAINT [FK_OrderAndServices$_Order$] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderAndService] CHECK CONSTRAINT [FK_OrderAndServices$_Order$]
GO
ALTER TABLE [dbo].[OrderAndService]  WITH CHECK ADD  CONSTRAINT [FK_OrderAndServices$_Services$] FOREIGN KEY([ServiceCode])
REFERENCES [dbo].[Service] ([Code])
GO
ALTER TABLE [dbo].[OrderAndService] CHECK CONSTRAINT [FK_OrderAndServices$_Services$]
GO
ALTER TABLE [dbo].[OrderAndService]  WITH CHECK ADD  CONSTRAINT [FK_OrderAndServices$_StatusServicesInOrder$] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[StatusServicesInOrder] ([Id])
GO
ALTER TABLE [dbo].[OrderAndService] CHECK CONSTRAINT [FK_OrderAndServices$_StatusServicesInOrder$]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_Users$_InsuranceCompany$] FOREIGN KEY([IdInsuranceCompany])
REFERENCES [dbo].[InsuranceCompany] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_Users$_InsuranceCompany$]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_Users$_PolicyTypes$] FOREIGN KEY([IdPolicyType])
REFERENCES [dbo].[PolicyType] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_Users$_PolicyTypes$]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_Users$_UserType$] FOREIGN KEY([IdUserType])
REFERENCES [dbo].[UserType] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_Users$_UserType$]
GO
USE [master]
GO
